/* Border color */
.border-color-primary {
  border-color: $primary !important;
}
.border-color-white {
  border-color: $white !important;
}
.border-color-black {
  border-color: $black !important;
}
.border-color-green {
  border-color: $green !important;
}
.border-color-medium-gray {
  border-color: $medium-gray !important;
}
.border-color-light-gray {
  border-color: $light-gray !important;
}
.border-color-extra-light-gray {
  border-color: $extra-light-gray !important;
}
.border-color-matisse {
  border-color: $matisse !important;
}
.border-color-matisse-dark {
  border-color: $matisse-dark !important;
}
