/*footer {  padding-top: 100px; }*/
footer ul.list-unstyled li {
  padding: 10px 4px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
footer .list-group li {
  font-weight: 300;
  letter-spacing: 0.5px;
}
footer .list-group li i {
  margin-right: 5px;
}
